<h1 (click)="isParagraphVisible=!isParagraphVisible; show();">Hello World
  ({{title}}) click me</h1>
<p *ngIf="isParagraphVisible">Lorem ipsum dolor sit amet consectetur adipisicing
  elit. Aperiam esse ex nisi
  inventore iure. Laboriosam iusto nam quia sit unde officiis mollitia natus
  porro? Ipsa amet, culpa animi, sit dignissimos libero impedit iusto
  consectetur aperiam laborum porro est, minus ab excepturi dolores. Assumenda
  sed totam fugit deserunt pariatur, et nulla!</p>

<ul>
  <li *ngFor="let item of list; index as id">
    {{item + ' with id ' + id}}
  </li>
</ul>
<ng-container *ngFor="let user of roles; index as idx">
  <div [ngSwitch]="user.role">
    <div *ngSwitchCase="'admin'">{{idx + 1}}. Hi, you have entered as admin
      ({{user.text}})</div>
    <div *ngSwitchCase="'user'">{{idx + 1}}. Hi, you have entered as user
      ({{user.text}})</div>
    <div *ngSwitchCase="'customer'">{{idx + 1}}. Hi, you have entered as
      customer ({{user.text}})</div>
  </div>
</ng-container>
